<body class="thanks">
	<div class="row thanks-title" align="center">
		Thanks for posting your nomm!
	</div>
	<div class="row" align="center">
		<%= link_to "BROWSE NOMMS", find_path, :class=>"btn btn-large", :id=>"button" %>
	</div>
</body>