
<div class="col-md-12" style="align:center;">
	<div class="row-inner">
		<div class="show_subtext"><%= time_ago_in_words(@post.endtime) %></div>
		<% if @post.picture.url(:cropped)%>
			<div align="center"><%= image_tag @post.picture.url(:cropped), :class=>"picture" %></div>
		<% else %>
			<div align="center"><img src="http://placehold.it/300x300" class="picture" ></div>
		<% end %>
			<div class="post_location"><%= @post.location %><br></div>
			<div class="post_description"><%= @post.description %><br></div>	
	</div>
</div>