.location_text {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.location_subtext {
	font-size: 18px;
	text-align: center;
	margin-bottom: 60px;
}

.post_subtext {
	font-size: 14px;
	color: darkgrey;
}

.post_description {
	font-size: 18px;
	text-align: center;
}